.page-header {
  background-image: url(../../assets/images/background.png);
  background-position: center;
  padding: 2em $primaryPadding 20em;

  .welcome {
    padding-top: 5em;
    color: $whiteColor;

    span { color: $lighterOrangeColor; }
  }

  .welcome h1 {
    font-family: $primaryFont;
    font-size: 2.5em;
  }
}